html,body,.master-success {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: #202020;
    color: #b0b0b0;
    font-family: "Verdana", "Optima", sans-serif;
}



button {
    background-color: #4CAF50; /* Green */
    border: 1px solid #707070;
    box-sizing: border-box;
    color: #f9f2f2;
    margin: 1em;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input {
    background-color: #0505051c;
    padding: 10px 10px;
    color: #b0b0b0;
    border: 1px solid grey;
    margin: 1em;
    box-sizing: border-box;
}

input:focus {
    border:2px solid #909090;
}

tfoot {
    text-decoration: underline;
    text-decoration-style: dotted;
    font-weight: bold;
    text-underline-position: under;
    text-decoration-color: goldenrod;
}

.master {
    padding: 1em;
    margin: 3em auto;
}

.master-success {
    max-width: none;
    display: flex;
    box-sizing: border-box;
    flex-direction: row-reverse;
}

.success-text {
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    overflow-y: auto;
    flex: 2;
}

.chat-master {
    display: flex;
    flex: 3;
}

.failure-text {
    color: red;
}

.llist {
    display: inline-block;
    list-style-image: url('purple_sword.png');
    list-style-type: square;
}


.chat-input {
    width:  98%;
    height: 25px;
    padding: 2%
    flex-shrink: 0;
}

.accordion {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 15px;
    background: none;
}

.panel-show {
    display: block;
    flex: 2;
}

.quest-image {
    margin: 0 auto;
}

.quest-notes {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.quest-title {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.quest-memberstable {
    table-layout: fixed;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border : 1px solid black;
    text-align: center;
}



